.main
{
  border: solid;
  width: 55%;
 background: black;
     height: 618px;
       position: relative;

}
.clearfix::after {
  content: "";
  clear: both;
  display: table;

}

.left
{
    border: solid;
    width: 24%;
    height: 238px;
    background: white;
    display: block;
   
}

.right
{
      border: solid;
    width: 76%;
    height: 476px;
    background: red;
    float: right;
    position: absolute;
    left: 24%;
    bottom: 133px;

}
.bottomleft 
{
           border: solid;
    width: 24%;
    height: 137px;
    background: skyblue;
    display: inline-block;
}
.bottomright
{
border: solid;
    width: 72%;
    height: 138px;
    background: white;
    display: inline-block;
}
.bottomright1
{
        border: solid;
    width: 3%;
    height: 70px;
    background: white;
    display: block;
    float: right;
}
.bottomright2
{
        border: solid;
    width: 3%;
    height: 70px;
    background: yellow;
    display: block;
    float: right;
    position: absolute;
    /* float: right; */
    left: 97%;
    top: 89%;
}